.container-fluid {
  background-image: url(../img/wp3646650.jpg);
  background-size: contain;
  min-height: 800px;
  /* background-color: black; */
  padding-top: 50px;
}

.display-value {
  justify-content: center;
  color: blue;
  font-weight: bold;
  font-size: 40px;
}

.container {
  padding-top: 50px;
  padding-bottom: 10px;
  background-color: #00000085;
  border: 2px solid black;
  border-radius: 7px;
}

#your-amount {
  color: red;
  font-size: 30px;
  font-weight: bold;
}

#converted-value {
  color: blue;
  font-size: 30px;
  font-weight: bold;
}
h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(
    rgb(252, 252, 252),
    rgb(109, 109, 109),
    rgb(255, 255, 255)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.card-body p {
  font-weight: bold;
  font-size: 42px;
}

#current-value[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}